* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

#todo_list_section {
  width: 50%;
  height: 50%;
  background-color: bisque;

  .list {
    display: flex;
    width: 100%;
    padding: 1rem;

    .list_item {
      width: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
