* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

#todo_list_section {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: white;
  box-shadow: 2px 2px 20px 5px #dbdbdb;

  .input {
    width: 100%;
    border: none;
    padding: 1rem;
    background: #f3f3f3;
  }

  .btn {
    position: absolute;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    border: 0;
    left: 0;
    cursor: pointer;
  }

  .list {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;

    .list_item {
      width: inherit;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
